a {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--colour-fg-base-faint);
  color: currentColor;

}

a:link {
  color: currentColor;
}

a:visited {
  color: currentColor;
  text-decoration-color: var(--colour-fg-base-ghost);
}

a:hover {
  color: currentColor;
  text-decoration-color: var(--colour-base-blue);
}

a:active {
  color: currentColor;
  text-decoration-color: var(--colour-base-blue);
}


a:focus {
  color: currentColor;
  outline-color: var(--colour-base-blue);
}