a {
  text-decoration: none;
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--colour-fg-base-light, rgb(195, 195, 195));
  color: currentColor;

}

a:link {
  color: currentColor;
}

a:visited {
  color: currentColor;
  text-decoration-color: var(--colour-fg-base-light, rgb(219, 219, 219));
}

a:hover {
  color: currentColor;
  text-decoration-color: var(--colour-base-blue, hsl(208, 100%, 50%));
}

a:active {
  color: currentColor;
  text-decoration-color: var(--colour-base-blue, hsl(208, 100%, 50%));
}


a:focus {
  color: currentColor;
  outline-color: var(--colour-base-blue, hsl(208, 100%, 50%));
}