.article-comments-link {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: var(--sans-serif-title-text-weight, 700);
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    color: var(--sans-serif-title-text-color, rgb(121, 121, 121));
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);
    text-transform: var(--sans-serif-title-text-transform, uppercase);
}