.article-comments-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
}

.article-comments-list .comment-body {
    margin-bottom: var(--margin-small, 0.3rem);
}

.article-comments-list .comment .comment-content {
    font-size: 0.8rem;
    padding-top: var(--margin-small, 0.3rem);
    margin-bottom: var(--margin-small, 0.3rem);
}

.article-comments-list .comment .comment-content p {
    margin-top: 0;
    margin-bottom: 0;
}

.article-comments-list .comment .comment-content p:not(:last-of-type) {
    margin-bottom: var(--margin, 1rem);
}

.article-comments-list .comment .comment-author {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: 400;
    font-size: 0.8rem;
}

.article-comments-list .comment .comment-author .fn {
    font-weight: 400;
}

.article-comments-list .comment .comment-metadata {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: 400;
    font-size: 0.6rem;
    opacity: 0.6;
}

.article-comments-list .comment .comment-reply-link {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: 400;
    font-size: 0.6rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.article-comments-list .comment .reply {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.article-comments-list .comment .reply::before {
    font-size: 0.8rem;
    content: "💬";
    margin-right: var(--margin-small, 0.3rem);
    line-height: 1.2;
}

.article-comments-list .pingback .comment-body {
    font-size: 0.8rem;
    font-style: italic;
}