.article-author {
  font-family: var(--font-sans-serif);
  color: var(--sans-serif-title-text-color);
  font-size: var(--sans-serif-title-text-size);
  font-weight: var(--sans-serif-title-text-weight);
  text-transform: var(--sans-serif-title-text-transform);
  letter-spacing: var(--sans-serif-title-text-letter-spacing);
}