.article-comments-link {
    font-family: var(--font-sans-serif);
    font-weight: var(--sans-serif-title-text-weight);
    font-size: var(--sans-serif-title-text-size);
    color: var(--sans-serif-title-text-color);
    letter-spacing: var(--sans-serif-title-text-letter-spacing);
    text-transform: var(--sans-serif-title-text-transform);
}