.article-title {
    font-size: 2.6em;
    font-weight: 400;
    line-height: 1.1;
    font-family: var(--font-serif);
    margin-top: 0;
    margin-bottom: var(--margin-medium);

    &>a {
        text-decoration-thickness: 3px;
        text-decoration-color: var(--colour-fg-base-ghost);
    }

}

@media (min-width: 500px) {
    .article-title {
        font-size: 3em;
        margin-bottom: var(--margin);
    }
}