.article-content {
  font-family: var(--body-font-family, serif);
  font-size: var(--body-font-size, 1rem);
  line-height: var(--body-line-height, 1.5);
  margin-bottom: var(--margin, 1rem);

  &>*:last-child {
    margin-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif, serif);
    font-weight: 400;
    margin-top: 0;
    margin-bottom: var(--margin-bigger, 2rem);
    line-height: 1.2;

    strong,
    b {
      font-weight: inherit;
    }

    &:not(:first-child) {
      padding-top: var(--margin, 1rem);
    }
  }

  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.6em;
    text-transform: uppercase;
  }

  h6 {
    font-size: 0.6em;
  }

  p {
    margin-top: 0;
    margin-bottom: var(--margin-bigger, 2rem);
    text-align: left;
  }

  ul,
  ol {
    padding-left: var(--margin, 1rem);
    margin-bottom: var(--margin-bigger, 2rem);
  }

  li {
    margin-bottom: var(--margin-small, 0.3rem);
  }

  hr {
    border: 0;
    height: 1px;
    background-color: currentColor;
    margin-top: var(--margin-large, 2.5rem);
    margin-bottom: var(--margin-large, 2.5rem);
  }

  blockquote {
    padding-left: var(--margin, 1rem);
    padding-right: 0;
    margin-top: var(--margin, 1rem);
    margin-bottom: var(--margin-bigger, 2rem);
    margin-left: 0;
    margin-right: 0;
    border-left: 2px solid currentColor;
    font-style: italic;

    &>p:last-of-type {
      margin-bottom: 0;
    }
  }

  cite {
    display: block;
    font-family: var(--font-serif, serif);
    font-weight: 400;
    font-size: 1rem;
    color: var(--colour-fg-base-mid, rgb(42, 42, 42));
    padding-top: var(--margin, 1rem);
    font-style: normal;

    & a {
      color: inherit;
    }
  }

  table {
    border-collapse: collapse;
    font-size: 0.8em;
  }

  th,
  tfoot td {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: var(--sans-serif-title-text-weight, 700);
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);
    text-transform: var(--sans-serif-title-text-transform, uppercase);
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
  }

  thead th {
    border-bottom-width: 3px;
  }

  tfoot td {
    border-top-width: 3px;
  }

  td {
    font-family: var(--font-sans-serif, sans-serif);
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);
    text-transform: var(--sans-serif-title-text-transform, uppercase);
    border-width: 1px;
    border-style: solid;
    border-color: currentColor;
    padding: 0.5em;
    text-align: left;
    vertical-align: top;
  }

  caption {
    font-family: var(--font-sans-serif, sans-serif);
    padding-top: 1em;
    caption-side: bottom;
    text-align: left;
    padding-bottom: 1em;
  }

  figure {
    overflow: auto;
    margin-bottom: var(--margin-large, 2.5rem);

    &:not(:first-child) {
      padding-top: var(--margin, 1rem);
    }
  }

  figcaption {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: var(--sans-serif-title-text-weight, 700);
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    color: var(--sans-serif-title-text-color, rgb(121, 121, 121));
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);
    text-transform: var(--sans-serif-title-text-transform, uppercase);
    padding-top: var(--margin, 1rem);
    text-align: center;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  sup[id] {
    font-family: var(--font-sans-serif, sans-serif);
    font-size: 0.8em;
    margin-left: 0.1em;
  }

}

@media (min-width: 500px) {

  .article-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: var(--margin-bigger, 2rem);
    }

    h1 {
      font-size: 1.8em;
    }

    h2 {
      font-size: 1.8em;
    }

    ul,
    ol {
      padding-left: var(--margin-large, 2.5rem);
    }

  }

}