body {
  margin-top: var(--margin-large);
  margin-bottom: 0;
  margin-left: var(--margin);
  margin-right: var(--margin);
  background-color: inherit;
}

@media (min-width: 500px) {
  body {
    margin-left: var(--margin-large);
    margin-right: var(--margin-large);
  }
}