body {
  margin-top: var(--margin-large);
  margin-bottom: 0;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  background-color: inherit;
}

@media (min-width: 500px) {
  body {
    margin-left: var(--large-gutter);
    margin-right: var(--large-gutter);
  }
}