input[type=button]:not(.stock),
input[type=submit]:not(.stock),
button:not(.stock) {
    font-family: var(--font-sans-serif);
    font-size: var(--sans-serif-title-text-size);
    font-weight: var(--sans-serif-title-text-weight);
    text-transform: var(--sans-serif-title-text-transform);
    letter-spacing: var(--sans-serif-title-text-letter-spacing);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 1px solid var(--colour-fg-base-light);
    color: var(--colour-bg-base);
    background-color: var(--colour-fg-base-light);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.8rem;
}