.global-main {
    margin-bottom: var(--margin-large);
}

@media (min-width: 800px) {
    .global-main {
        flex-grow: 1;
        margin-right: var(--margin-large);
        margin-bottom: 0;
    }
}