.global-footer-link {
    font-family: var(--font-sans-serif, sans-serif);
    color: var(--sans-serif-title-text-color, rgb(121, 121, 121));
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    font-weight: var(--sans-serif-title-text-weight, 700);
    text-transform: var(--sans-serif-title-text-transform, uppercase);
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);

    &>a,
    &>a:link {
        color: currentColor;
    }

    &>a:visited {
        color: currentColor;
    }

    &>a:hover {
        color: currentColor;
    }

    &>a:active {
        color: currentColor;
    }

    &>a:focus {
        color: currentColor;
    }

}



@media (min-width: 800px) {
    .global-footer-link {
        margin-right: var(--margin, 1rem);
    }

    .global-footer-link:not(:last-of-type)::after {
        content: "/";
        font-family: inherit;
        font-size: inherit;
        margin-left: var(--margin, 1rem);
        color: var(--colour-fg-base-mid, rgb(42, 42, 42));
    }

}