.global-description {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--colour-fg-base-mid);
    margin-left: var(--margin);
}

.global-description-byline {
    display: block;
}