.global-footer {
    border-top: 2px solid var(--colour-fg-base);
    padding-top: var(--margin);
    padding-bottom: var(--margin);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}