input[type=text],
input[type=search],
input[type=password],
input[type=url],
input[type=email] {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 0.8rem;
    border: 1px solid var(--colour-fg-base);
    background-color: var(--colour-fg-base);
    color: var(--colour-bg-base);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.8rem;
}