:root {
    font-family: var(--font-serif, serif);
    font-weight: 400;
    font-size: 19px;
    background-color: var(--colour-bg-base, #ffffff);
    color: var(--colour-fg-base, rgb(25, 25, 25));
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}

// @supports (-webkit-font-smoothing: antialiased) {
//     :root {
//         -webkit-font-smoothing: antialiased;
//     }
// }

// @supports (-moz-osx-font-smoothing: grayscale) {
//     :root {
//         -moz-osx-font-smoothing: grayscale;
//     }
// }