:root {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 19px;
    background-color: var(--colour-bg-base);
    color: var(--colour-fg-base);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
}