textarea {
    font-family: var(--font-serif);
    font-weight: 400;
    font-size: 0.8rem;
    border-width: 1px;
    border-style: solid;
    border-top-color: var(--colour-bg-base-mid);
    border-left-color: var(--colour-bg-base-mid);
    border-right-color: var(--colour-bg-base-mid);
    border-bottom-color: var(--colour-fg-base);
    background-color: var(--colour-bg-base-mid);
    color: var(--colour-fg-base);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    line-height: inherit;
}