:root {
    --font-sans-serif: "Barlow", "Helvetica Neue", Helvetica, "Arimo", Arial, sans-serif;
    --font-serif: "Libertinus", "Times New Roman", "Tinos", Times, serif;
    --margin-small: 0.3rem;
    --margin-medium: 0.6rem;
    --margin: 1rem;
    --margin-bigger: 2rem;
    --margin-large: 2.5rem;

    --colour-base-blue: hsl(208, 100%, 50%);

    --colour-bg-base: rgb(255, 255, 255);
    --colour-bg-base-mid: rgb(238, 238, 238);
    --colour-bg-base-mid-alt: rgb(239, 239, 239);
    --colour-fg-base: rgb(25, 25, 25);
    --colour-fg-base-mid: rgb(42, 42, 42);
    --colour-fg-base-light: rgb(121, 121, 121);
    --colour-fg-base-faint: rgb(195, 195, 195);
    --colour-fg-base-ghost: rgb(219, 219, 219);

    --body-font-family: var(--font-serif, serif);
    --body-font-size: 1.3rem;
    --body-line-height: 1.5;


    --hue-animation-duration: 48000ms;

    --sans-serif-title-text-size: 0.7rem;
    --sans-serif-title-text-weight: 400;
    --sans-serif-title-text-color: var(--colour-fg-base-mid, rgb(42, 42, 42));
    --sans-serif-title-text-letter-spacing: 0.04rem;
    --sans-serif-title-text-transform: uppercase;
}

:root[data-theme="dark"] {
    --colour-bg-base: rgb(25, 25, 25);
    --colour-bg-base-mid: rgb(42, 42, 42);
    --colour-bg-base-mid-alt: rgb(41, 41, 41);
    --colour-fg-base: rgb(255, 255, 255);
    --colour-fg-base-mid: rgb(238, 238, 238);
    --colour-fg-base-light: rgb(159, 159, 159);
    --colour-fg-base-faint: rgb(85, 85, 85);
    --colour-fg-base-ghost: rgb(61, 61, 61);
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --colour-bg-base: rgb(25, 25, 25);
        --colour-bg-base-mid: rgb(42, 42, 42);
        --colour-bg-base-mid-alt: rgb(41, 41, 41);
        --colour-fg-base: rgb(255, 255, 255);
        --colour-fg-base-mid: rgb(238, 238, 238);
        --colour-fg-base-light: rgb(159, 159, 159);
        --colour-fg-base-faint: rgb(85, 85, 85);
        --colour-fg-base-ghost: rgb(61, 61, 61);
    }
}