.post-navigation {
    margin-bottom: var(--margin-large, 2.5rem);
}

.post-navigation .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-navigation .nav-links .nav-previous::before {
    content: "Previous: ";
}

.post-navigation .nav-links .nav-next::before {
    content: "Next: ";
}

.post-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-next {

    font-family: var(--font-sans-serif, sans-serif);
    font-weight: var(--sans-serif-title-text-weight, 700);
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    color: var(--sans-serif-title-text-color, rgb(121, 121, 121));
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);
    text-transform: var(--sans-serif-title-text-transform, uppercase);

    & .nav-title {
        color: inherit;
    }

    & a,
    & a:link,
    & a:hover,
    & a:visited,
    & a:active {
        color: currentColor;
        text-decoration: none;
    }


    & a:link .nav-title {
        text-decoration: underline;
    }

    & a:visited .nav-title {
        color: currentColor;
    }

    & a:focus .nav-title {
        color: currentColor;
        text-decoration: underline;
        outline-color: var(--colour-fg-base, rgb(25, 25, 25));
    }

    & a:hover .nav-title {
        color: currentColor;
        text-decoration: underline;
    }

    & a:active .nav-title {
        color: currentColor;
    }

    & .nav-subtitle {
        border: 0;
        clip-path: inset(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    & .nav-subtitle:focus {
        clip-path: none;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}