.wp-block-search {}

.wp-block-search__label {
    font-family: var(--font-sans-serif, sans-serif);
    font-weight: var(--sans-serif-title-text-weight, 700);
    font-size: var(--sans-serif-title-text-size, 0.7rem);
    color: var(--sans-serif-title-text-color, rgb(121, 121, 121));
    letter-spacing: var(--sans-serif-title-text-letter-spacing, 0.04rem);
    text-transform: var(--sans-serif-title-text-transform, uppercase);
    display: block;
    margin-bottom: var(--margin-small, 0.3rem);
}

.wp-block-search__inside-wrapper {
    display: flex;
    align-items: center;
}

.wp-block-search__input {
    flex-grow: 1;
}

.wp-block-search__button {
    flex-grow: 0;
    margin-left: -1px;

}