.post-navigation {
    margin-bottom: var(--margin-large);
}

.post-navigation .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-navigation .nav-links .nav-previous::before {
    content: "⏮ ";
}

.post-navigation .nav-links .nav-next::after {
    content: " ⏭";
}

.post-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-next {

    font-size: 0.8rem;

    & .nav-title {
        font-weight: 400;
        font-family: var(--font-sans-serif);
    }

    & a,
    & a:link,
    & a:hover,
    & a:visited,
    & a:active {
        text-decoration: none;
    }


    & a:link .nav-title {
        color: var(--colour-link);
        text-decoration: underline;
    }

    & a:visited .nav-title {
        color: var(--colour-link-visited);
    }

    & a:focus .nav-title {
        color: var(--colour-link-focus);
        text-decoration: underline;
        outline-color: var(--colour-fg-base);
    }

    & a:hover .nav-title {
        color: var(--colour-link-hover);
        text-decoration: underline;
    }

    & a:active .nav-title {
        color: var(--colour-link-active);
    }

    & .nav-subtitle {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    & .nav-subtitle:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}