.wp-block-group {}

.wp-block-group h2 {
    font-family: var(--font-sans-serif);
    font-weight: var(--sans-serif-title-text-weight);
    font-size: var(--sans-serif-title-text-size);
    color: var(--sans-serif-title-text-color);
    letter-spacing: var(--sans-serif-title-text-letter-spacing);
    text-transform: var(--sans-serif-title-text-transform);
    margin-top: 0;
    margin-bottom: var(--margin-small);
}

.wp-block-group ol,
.wp-block-group ul {
    font-size: 0.8rem;
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.wp-block-group ul {
    list-style-type: square;
}

.wp-block-group li {
    font-size: inherit;
}