.wp-block-search {}

.wp-block-search__label {
    font-family: var(--font-sans-serif);
    font-weight: var(--sans-serif-title-text-weight);
    font-size: var(--sans-serif-title-text-size);
    color: var(--sans-serif-title-text-color);
    letter-spacing: var(--sans-serif-title-text-letter-spacing);
    text-transform: var(--sans-serif-title-text-transform);
    display: block;
    margin-bottom: var(--margin-small);
}

.wp-block-search__inside-wrapper {
    display: flex;
    align-items: center;
}

.wp-block-search__input {
    flex-grow: 1;
}

.wp-block-search__button {
    flex-grow: 0;
    margin-left: -1px;

}